header {
    position: fixed;
    background: white;
    width: 100%;
    z-index: 5;
}
.countryModal {
    top: 60px !important;
}

.lightmodeElement {
    background-color: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
}
.background-dark {
    background-color: hsl(207, 26%, 17%) !important;
    color: hsl(0, 0%, 100%);

}


.darkmodeElement {
    background-color: hsl(209, 23%, 22%) !important;
    color: hsl(0, 0%, 100%);
}

.search-bar {
    margin-top: 80px !important;
}
.hide {
    display: none ;
}
.show {
    display: block ;
}
.hidee {
    display: none ;
}

.row {
    display: flex;
    justify-content: space-between;
}

.my-20 {
    margin-top: 150px;
    margin-bottom: 150px;
}

.detailImg {
    height: 250px !important;
}